.main-color {
    color: $main-color;
}
.bg-main {
    background-color: $main-color;
    color: $main-color;
}
.cursor-pointer {
    cursor: pointer;
}
.router-link-exact-active{
    color: $main-color !important;
}
