:root {
    --main-color: #264642;
    --theme-color: #264642;
    --gray: #afafaf;
}

.focus\:ring-indigo-500:focus {
    box-shadow: none !important;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
input , textarea{
    background: #f5f5f5 !important;
    border: 1px solid #dbdbdb !important;
    &:focus , &:active{
        box-shadow: 0 0 2px 0px $main-color !important;
    }
}