:root {
    --main-color: #264642;
    --theme-color: #264642;
    --gray: #afafaf;
}

.focus\:ring-indigo-500:focus {
    box-shadow: none !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
input,
textarea,
select {
    background: #f5f5f5 !important;
    border: 1px solid #dbdbdb !important;
    &:focus,
    &:active {
        box-shadow: 0 0 2px 0px $main-color !important;
    }
}

nav {
    a {
        font-size: 18px !important;
        text-transform: capitalize;
        font-weight: bold !important;
    }
}
[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0'/%3E%3C/svg%3E") !important;
}
[type="checkbox"]{
    &:hover{
        cursor: pointer;
    }
}
[type="checkbox"]:checked,
[type="radio"]:checked {
    background-color: $main-color !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    border-color: #0000 !important;
}
[type="checkbox"]:checked:focus,
[type="checkbox"]:checked:hover,
[type="checkbox"]:indeterminate,
[type="radio"]:checked:focus,
[type="radio"]:checked:hover {
    cursor:pointer  !important;
    background-color: $main-color !important;
    border-color: #0000 !important;
    outline: 2px solid $main-color !important;
}
.iframe-container{
    iframe{
        width: 100%;
    }
}
footer section.mt-6.flex.items-center iframe{
    width: auto !important;
}