@media (max-width: 766.98px) {
    .flex-sm-column {
        display: flex;
        flex-direction: column;
    }
    .sm-mb-0 {
        margin-bottom: 0 !important;
    }
    .sm-mt-0 {
        margin-top: 0 !important;
    }
    .w-50 {
        width: 100% !important;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 767px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .lg\:gap-x-12 {
        -moz-column-gap: 17px !important;
        column-gap: 17px !important;
    }
}

@media (min-width: 1200px) {
}
