@media (max-width: 766.98px) {
    .flex-sm-column {
        display: flex;
        flex-direction: column;
    }
    .sm-mb-0 {
        margin-bottom: 0 !important;
    }
    .sm-mt-0 {
        margin-top: 0 !important;
    }
    .w-50  {
        width: 100% !important;
    }
    .data-holder.mx-24.d-mg-fleex-column{
        margin-inline: 15px;
    }
    .right-side.rounded-custom .title{
        padding: 35px;
        text-align: center;
    }
    .swiper-slide a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        .card-img {
            min-width: 310px;
        }
    }
    .sm-fs-26 {
        font-size: 26px;
    }
    .hero-section {
        height: auto;
        padding: 8% 0 5% 0 !important;
        min-height: 80vh;
    }
    .rent-page-cards-holder {
        .card-holder {
            width: 100% !important;
            margin: 0 5px;
        }
        .card-img {
            height: 250px !important;
        }
    }
    footer{
        section.mt-6.flex.items-center{
            flex-direction: column;
            iframe{
                width: 100%;
            }
        }
    }
    .text-2xl, .all-offers .title{
        font-size: 15px !important;
    }
    .refresed-in-sm{
        padding-inline: 0px;
        flex-direction: column-reverse;
    }
    .page-holder{
        .mb-8.bg-white.p-4.shadow-sm.m-h-400.px-24{
            padding-inline: 20px;
            .img-holder img{
                width: 100% !important;
                min-height: 300px !important;
            }
        }
    }
    .w-sm-full{
        padding-inline: 10px;
    }
    .text-center.mb-8{

        .title{
            font-size: 20px;
        }
    }
    .relative.min-h-screen.bg-gray-100.m-12{
        margin-inline: 15px;
    }
    .nav-holder{
        padding-inline: 20px;
    }
    .align-items-sm-baseline{
        align-items: baseline;
    }
}

@media (min-width: 767px) and (max-width: 991.98px) {
    .rent-page-cards-holder {
        .card-holder {
            width: 32% !important;
            margin: 0 5px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .lg\:gap-x-12 {
        -moz-column-gap: 17px !important;
        column-gap: 17px !important;
    }
    .rent-page-cards-holder {
        .card-holder {
            width: 25% !important;
            margin: 0 5px;
        }
    }
}

@media (max-width: 1024px) {
    .refresed-in-sm {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .d-mg-fleex-column{
        flex-direction: column;
    }
    .w-50{
        width: 100% !important;
    }
    .refresed-in-sm.input-holder {
        display: flex !important;
        flex-direction: column !important;
    }
}
@media (min-width: 1024px) and (max-width: 1680px) {
    .nav-holder {
        padding-inline: 55px !important;
        overflow: hidden;
        .links-holder {
            a {
                font-size: 12px !important;
            }
            .large-btn-a {
                padding: 12px 11px;
            }
        }
        .flex.items-center.gap-x-12 {
            gap: 10px !important;
        }
    }
    .refresed-in-sm.input-holder {
        display: flex !important;
        flex-direction: row !important;
    }
    .search-input{
        min-width: 65%;
    }
   
}
@media(min-width:1024px) and (max-width:1325px){
    .search-input{
        min-width: 45% !important;
    }
}