.header-holder {
    .text-gray-600 , .hidden lg:flex lg:gap-x-12 lg:items-center {
        color: $gray;
    }
    .profile-menu{
        button , a{
            text-align: start;
        }
    }
}
.certificates-holder{
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
