.swiper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    padding: 2px;
    width: auto;
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    border: 1px solid $main-color;
    &::after {
        color: #333 !important;
        font-size: 20px !important;
    }
    background-color: #fff;
    opacity: .9 !important;
    z-index: 99;
}
.swiper-slide {
    a {
        width: 100%;
    }
}
.goals-holder {
    .swiper-slide {
        min-height: 220px;
    }
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
    background: #958e8e;
    border: 2px solid #fff;
}
.swiper-pagination-bullet-active {
    background-color: $main-color !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px !important;
}
@media (max-width: 992px) {
    .swiper-wrapper {
        min-height: 255px;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 30px !important;
    }
}
.swiper-button-disabled{
    opacity: .2 !important;
}

.home-large-swiper{
    .swiper-pagination {
        bottom: 2% !important;
    }
}